@import '../all.scss';

.navBox {
  @extend %nav;
  font-family: 'Sometype Mono', monospace, 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 18px;
}

.navUl {
  @extend %navUl;
  padding: 0 15%;
}

.navUl > li {
  width: 15%;
  text-align: center;
}
  
.link {
  @extend %link;
}
  
.link:hover {
  @extend %linkHover;
}
