@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sometype+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
  min-height: 900px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
  font-weight: normal;
}

input {
  outline: none;
}

%flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flexbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexbox3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flexbox4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(211, 209, 209, 0.533);
  min-height: 40px;
}

%navUl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
  margin: 0;
}

@keyframes swing {
  15%{transform: translateY(4px);}
  40%{transform: translateY(-4px);}
  65%{transform: translateY(2px);}
  85%{transform: translateY(-2px);}
  100%{transform: translateY(0px);}
}

$color1: #4491c5;
$color2: #89c3eb;
$color3: rgb(151, 151, 151);
$color4: #000;
$color5: #fff;
$color6: rgb(230, 67, 67);
$length1: 20%;
$length2: .5rem;
$length3: 2px;
$length4: 5px;
$length5: 10px;
$length6: 100px;

