@import 'all.scss';
  
.loginBox {
  @extend %flexbox;
  width: 100%;
  margin-top: 4%;
}

.loginH1 {
  color: $color3;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.loginInput {
  width: 40%;
  border: $color2 2px solid;
  border-radius: 5px;
  background-color: transparent;
  padding: 4px 7px;
  margin-bottom: .5rem;
  caret-color: $color1;
}

.loginInput::-webkit-input-placeholder {
  background-color: transparent;
  color: gray;
}

.checkBox {
  margin-bottom: 2rem;
}

.checkBox > input {
  margin-right: .25rem;
}

.checkBox > p {
  margin-top: .25rem;
}

.loginBtn {
  width: 40%;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 2px;
  padding: 8px 0;
  margin-bottom: 2rem;
  transition: .5s;
}

.loginBtn:hover {
  color: $color1;
  background-color: transparent;
  border: 0;
  transform: scale(1.1);
}

.loginList {
  width: 300px;
}

.loginList > ul > li {
  color: #000;
}

.loginBoxLink {
  color: $color2;
  background-color: transparent;
  border-bottom: 2px solid rgba(211, 209, 209, 0.533);
  text-decoration: none;
  transition: .5s;
}

.loginBoxLink:hover {
  color: #000;
  font-weight: normal;
  letter-spacing: 1px;
  border: 0;
  transform: scale(1.1);
}

//RWD
@media screen and (max-width: 600px) {
  .loginBox {
    margin-top: 8%;
  }

  .loginBox > svg {
    width: 50px;
    height: 50px;
  }

  .loginH1 {
    font-size: 26px;
    margin-bottom: 2rem;
  }

  .loginInput {
    width: 60%;
  }

  .checkBox > p {
    font-size: 15px;
  }

  .loginBtn {
    width: 15%;
  }

  .loginBoxLink {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .loginBox {
    margin-top: 7%;
  }

  .loginBox > svg {
    width: 50px;
    height: 50px;
  }

  .loginH1 {
    font-size: 26px;
    margin-bottom: 2.25rem;
  }

  .loginInput {
    width: 55%;
  }

  .checkBox > p {
    font-size: 15px;
  }

  .loginBtn {
    width: 14%;
  }

  .loginBoxLink {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .loginBox {
    margin-top: 6%;
  }

  .loginBox > svg {
    width: 54px;
    height: 54px;
  }

  .loginH1 {
    font-size: 28px;
    margin-bottom: 2.5rem;
  }

  .loginInput {
    width: 50%;
  }

  .checkBox > p {
    font-size: 16px;
  }

  .loginBtn {
    width: 13%;
  }

  .loginBoxLink {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .loginBox {
    margin-top: 5%;
  }

  .loginBox > svg {
    width: 57px;
    height: 57px;
  }

  .loginH1 {
    font-size: 30px;
    margin-bottom: 2.75rem;
  }

  .loginInput {
    width: 45%;
  }

  .checkBox > p {
    font-size: 16px;
  }

  .loginBtn {
    width: 45%;
  }

  .loginBoxLink {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .loginBox {
    margin-top: 4%;
  }

  .loginBox > svg {
    width: 60px;
    height: 60px;
  }

  .loginH1 {
    font-size: 32px;
    margin-bottom: 3rem;
  }

  .loginInput {
    width: 40%;
  }

  .checkBox > p {
    font-size: 16px;
  }

  .loginBtn {
    width: 40%;
  }

  .loginBoxLink {
    font-size: 16px;
  }
}
