@import 'all.scss';
  
.signupBox {
  @extend %flexbox;
  width: 100%;
  margin-top: 4%;
}

.signupH1 {
  color: $color3;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.signupInput {
  width: 40%;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  padding: 4px 7px;
  margin-bottom: .5rem;
  caret-color: $color1;
}

.signupInput::-webkit-input-placeholder {
  background-color: transparent;
  color: gray;
}

.checkBox {
  margin-bottom: 2rem;
}

.checkBox > input {
  margin-right: .25rem;
}

.checkBox > p {
  margin-top: .25rem;
}

.signupBtn {
  width: 15%;
  background-color: #fff;
  color: $color1;
  border: 0;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(211, 209, 209, 0.533);
  padding: 8px 0;
  margin-bottom: 2rem;
  transition: .5s;
}

.signupBtn:hover {
  width: 40%;
  color: #fff;
  background-color: #000;
  border: 0;
  border-radius: 5px;
  transform: scale(1.1);
}

.signupList {
  width: 300px;
}

.signupList > ul > li {
  color: $color1;
}

.signupBoxLink {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  opacity: 1;
  transition: .5s;
}

.signupBoxLink:hover {
  color: $color2;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 2px solid rgba(211, 209, 209, 0.533);
  opacity: .7;
  transform: scale(1.1);
}

//RWD
@media screen and (max-width: 600px) {
  .signupBox {
    margin-top: 8%;
  }

  .signupBox > svg {
    width: 50px;
    height: 50px;
  }

  .signupH1 {
    font-size: 26px;
    margin-bottom: 2rem;
  }

  .signupInput {
    width: 60%;
  }

  .checkBox > p {
    font-size: 15px;
  }

  .signupBtn {
    width: 16%;
  }

  .signupBtn:hover {
    width: 55%;
  }

  .signupBoxLink {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .signupBox {
    margin-top: 7%;
  }

  .signupBox > svg {
    width: 50px;
    height: 50px;
  }

  .signupH1 {
    font-size: 26px;
    margin-bottom: 2.25rem;
  }

  .signupInput {
    width: 55%;
  }

  .checkBox > p {
    font-size: 15px;
  }

  .signupBtn {
    width: 14%;
  }

  .signupBtn:hover {
    width:50%;
  }

  .signupBoxLink {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .signupBox {
    margin-top: 6%;
  }

  .signupBox > svg {
    width: 54px;
    height: 54px;
  }

  .signupH1 {
    font-size: 28px;
    margin-bottom: 2.5rem;
  }

  .signupInput {
    width: 50%;
  }

  .checkBox > p {
    font-size: 16px;
  }

  .signupBtn {
    width: 11%;
  }

  .signupBtn:hover {
    width: 45%;
  }

  .signupBoxLink {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .signupBox {
    margin-top: 5%;
  }

  .signupBox > svg {
    width: 57px;
    height: 57px;
  }

  .signupH1 {
    font-size: 30px;
    margin-bottom: 2.75rem;
  }

  .signupInput {
    width: 45%;
  }

  .checkBox > p {
    font-size: 16px;
  }

  .signupBtn {
    width: 9%;
  }

  .signupBtn:hover {
    width: 41%;
  }

  .signupBoxLink {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .signupBox {
    margin-top: 4%;
  }

  .signupBox > svg {
    width: 60px;
    height: 60px;
  }

  .signupH1 {
    font-size: 32px;
    margin-bottom: 3rem;
  }

  .signupInput {
    width: 40%;
  }

  .checkBox > p {
    font-size: 16px;
  }

  .signupBtn {
    width: 8%;
  }

  .signupBtn:hover {
    width: 36.5%;
  }

  .signupBoxLink {
    font-size: 16px;
  }
}

